# Simple Markdown test

| Value name | Value                                      |
| ---------- | ------------------------------------------ |
| Price      | API not available                        |
| Missing    | API field not available                 |
| Symbol     | uni                  |
| Name       | Uniswap |
| Expired    | API no longer available |
